@font-face {
  src: url(../font/Roboto-Regular.ttf);
  font-family: Roboto;
}

* {
  font-family: "Lilita One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --blue: #0348ce;
  --white: #ffffff;
  --lightgrey: #f6f6f6;
  --grey: #e9ecef;
  --secondary: #607290;
  --dark: #100011;
  --black: #000000;
  --red: #dc3545;
}

.border-custom {
  border: 1px solid var(--grey);
  border-radius: 10px;
  background-color: var(--white);
  width: 500px;
  min-width: 300px;
  padding: 30px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--dark);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.color-secondary {
  color: var(--secondary);
}

.color-black {
  color: #100012;
}

.font-s-14 {
  font-size: 14px;
}

.color-white {
  color: var(--white);
}

.logo-app {
  position: absolute;
  height: 100px;
  left: 25px;
  top: 2px;
}

.tab-custom {
  color: var(--black);
  padding: 5px 10px;
  margin: 10px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: content-box;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: var(--white);
  font-size: 18px;
}

.tab-custom:hover {
  color: var(--black);
  border-image: linear-gradient(
    80deg,
    rgba(177, 13, 18, 1) 0%,
    rgba(2, 176, 238, 1) 51%,
    rgba(253, 187, 45, 1) 100%
  );
  border-image-slice: 1;
}

.tab-custom.active {
  color: var(--black);
  border-image: linear-gradient(
    80deg,
    rgba(177, 13, 18, 1) 0%,
    rgba(2, 176, 238, 1) 51%,
    rgba(253, 187, 45, 1) 100%
  );
  border-image-slice: 1;
}

.font-darkblue {
  color: var(--dark);
}

.font-white {
  color: var(--lightgrey);
}

a {
  text-decoration: none;
}

.font-w-700 {
  font-weight: 700;
}

.pd-l-5 {
  padding-left: 5px;
}
.font-secondary {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 700;
}

.input-custom {
  padding: 5px 0 5px 0;
  border-radius: 10px;
  background-color: var(--grey);
  cursor: pointer;
}

.input-custom input {
  border: none;
  border-radius: 10px;
  background-color: transparent;
}

.input-custom input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.font-input {
  font-size: 14px;
  /* font-weight: 700; */
  color: var(--blue);
  cursor: pointer;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid var(--blue);
}

.font-input:hover {
  color: var(--white);
  border: none;
  background-color: var(--blue);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-custom input:read-only {
  background-color: transparent;
  border: none;
}

.btn-blue {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* width: 50%; */
  width: 180px;
  transition: width 0.3s;
  transition-timing-function: linear;
}

.btn-blue:hover {
  opacity: 80%;
  /* width: 80%; */
}

.btn-red {
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* width: 50%; */
  width: 180px;
  transition: width 0.3s;
  transition-timing-function: linear;
}

.btn-red:disabled,
.btn-blue:disabled,
.btn-custom-buy:disabled,
.btn-yellow:disabled {
  opacity: 40% !important;
}

.btn-yellow:disabled {
  opacity: 40% !important;
}

.btn-red:hover,
.btn-blue:hover,
.btn-custom-buy:hover,
.btn-yellow:hover {
  opacity: 80%;
  /* width: 80%; */
}

.btn-custom-buy {
  background-color: rgba(247, 178, 30);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 180px;
  transition: width 0.3s;
  transition-timing-function: linear;
}

.btn-yellow {
  background-color: rgb(247, 178, 30);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  /* width: 50%; */
  width: 180px;
  transition: width 0.3s;
  transition-timing-function: linear;
}

.mg-l-30 {
  margin-left: 30px;
}

.line2 {
  border: 1px solid #cecbcb;
}

.bg-navbar {
  background-color: #000;
  height: 90px;
  z-index: 9999 !important;
  border-bottom: 3px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 15px 25px;
}

.bg-navbar .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  height: 90px;
}

.font-w-500 {
  font-weight: 500;
}

.btn-wallet {
  background-color: #f5c707;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.modal-wallet {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px 15px;
  position: absolute;
  top: 78px;
  right: 8px;
}

.modal-menu {
  background-color: #ffffff;
  border-radius: 0px;
  width: 100%;
  padding: 10px 0 0;
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: -1;
}

.font-disconnect {
  font-size: 20px;
}

.modal-menu .menu-link {
  font-size: 20px;
  display: block;
  padding: 12px 24px;
  color: #000;
  border-bottom: 1px solid #ddd9;
}

.hideModal {
  display: none;
}

.showModal {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-wallet .font-darkblue:hover {
  opacity: 70%;
}

.font-header {
  color: var(--blue-secondary);
}

.text-h3 {
  color: #100012;
  font-size: 18px;
  font-weight: 600;
}

.text-desc {
  color: #607290;
  font-size: 14px;
}
.input-custom select {
  background-color: transparent;
  border: none;
}

.input-custom select:hover {
  outline: none;
  border: none;
  box-shadow: none;
}

.icon-m {
  width: 35px;
  padding-top: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.modal-wallet a {
  color: #000 !important;
  margin: 0;
}

body {
  background-image: url(../../public/bg-app.webp);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.main-container {
  position: relative;
  top: 90px;
}

.card-privatesale {
  background-color: #112c47;
  border: 2px solid #0a1d2e;
  position: relative;
  height: calc(100vh - 256px);
  min-height: 752px;
  margin-bottom: 30px;
  padding-top: 60px;
  padding-left: 288px;
  color: #fff;
}

.char-guild {
  width: 365px;
  height: 808px;
  position: absolute;
  bottom: -37px;
  left: -56px;
}

.logo-ps {
  position: absolute;
  width: 412px;
  height: 254px;
  top: -111px;
  right: -28px;
}
.h2-title {
  font-size: 82px;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 3px #000000;
  margin-top: 24px;
}

.h2-title span {
  margin-left: 10px;
  color: #5fd0ec;
}

.text-black {
  color: #000000;
}
.text-blue {
  color: #137ee0;
}

.tooltip-box {
  background-image: url(../../public/tooltip.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 496px;
  height: auto;
  position: relative;
  display: block;
  padding: 8px 10px 10px 24px;
  font-size: 18px;
  line-height: 22px;
  left: -30px;
}

.tooltip-box p {
  margin-bottom: 10px;
}

.tooltip-content {
  position: absolute;
  top: 0px;
  padding: 10px 14px 0px 24px;
}
.mt-80 {
  margin-top: 80px;
}

.test {
  background-color: #3b73ea;
}

.bg-left {
  background-color: #e9ecef;
  padding: 50px 30px 30px 30px;
  height: 100%;
}

.bg-right {
  background-color: var(--white);
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pack-list {
  width: 100%;
  margin-top: 30px;
}

.choose-pack {
  list-style-type: none;
  display: block;
  width: 100%;
}

.choose-pack li {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
  position: relative;
}

.choose-pack li .item-info {
  width: calc(100% - 300px);
  height: 54px;
  background-color: #ddd;
  border-radius: 54px;
  display: flex;
  flex-direction: row;
  padding: 8px 8px 8px 100px;
  overflow: hidden;
  font-size: 18px;
  line-height: 38px;
  background-repeat: no-repeat;
  background-position: left;
}

.choose-pack li .item-info .item-info-name {
  margin-right: 15px;
  width: 180px;
}

.choose-pack li .item-info .item-info-totalSupply {
  left: 11px;
  position: absolute;
  bottom: 6px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 200;
  background-color: #0006;
  height: 14px;
  color: #ffffff;
  padding: 0px 5px;
  border-radius: 8px;
}

.choose-pack li .item-info .item-info-uint {
  margin-left: 5px;
  margin-right: 15 px;
  width: 50px;
}

.choose-pack li .item-info .item-info-desc {
  width: 100%;
}
.choose-pack li .item-info.immortal-pack {
  background-image: url(../../public/bg-mon-1.webp);
  background-color: #C8B613;
  
}

.choose-pack li .item-info.lengendary-pack {
  background-image: url(../../public/bg-mon-2.webp);
  background-color: #E62916;
}

.choose-pack li .item-info.epic-pack {
  background-image: url(../../public/bg-mon-3.webp);
  background-color: #B113C8;
}

.choose-pack li .item-info.rare-pack {
  background-image: url(../../public/bg-mon-4.webp);
  background-color: #1382C9;
}

.choose-pack li .item-info.common-pack {
  background-image: url(../../public/bg-mon-5.webp);
  background-color: #20C914;
}

.choose-pack li .item-info.starter-pack {
  background-image: url(../../public/bg-mon-6.webp);
  background-color: #84420E;
}

.choose-pack li .item-info.confirm-order {
  background-color: unset;
  height: 77px;
  width: 100%;
  padding-right: 42px;
}

.item-radio > input[type="radio"],
.item-radio > input[type="checkbox"] {
  opacity: 0;
  margin-left: 0px;
}

.item-radio > label,
.item-radio > label {
  padding-left: 100px;
  min-height: 22px;
  line-height: 22px;
  display: inline-flex;
  height: 54px;
  align-items: center;
  font-size: 26px;
  position: relative;
}

.item-radio > input[type="radio"] + label::before,
.item-radio > input[type="checkbox"] + label::before,
.item-radio > input[type="radio"] + input[type="hidden"] + label::before,
.item-radio > input[type="checkbox"] + input[type="hidden"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid #1f4470;
  border-radius: 8px;
  margin-left: -72px;
  background-color: #1d4f84;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 1);
  z-index: 1;
  position: relative;
  left: -16px;
  top: 0px;
}

.item-radio > input[type="radio"]:checked + label::after, 
.item-radio > input[type="checkbox"]:checked + label::after, 
.item-radio > input[type="radio"]:checked + input[type="hidden"] + label::after, 
.item-radio > input[type="checkbox"]:checked + input[type="hidden"] + label::after   {
  background-image: url(../../public/check.webp);
  content: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 48px;
  height: 44px;
  z-index: 2;
  position: absolute;
  left: 15px;
  top: 5px;
}

@media (min-width: 300px) {
  .bg-left {
    border-radius: 10px;
  }

  .bg-right {
    border-radius: 10px;
  }
}

@media (min-width: 992px) {
  .bg-left {
    border-radius: 10px 0 0 10px;
  }

  .bg-right {
    border-radius: 0 10px 10px 0;
  }
}

.mg-r-10 {
  margin-right: 10px;
}

.test {
  background-color: #607290;
}

.btn-custom-primary {
  background-color: var(--blue);
  color: var(--white);
  border-color: #1861ac;
}

.btn-custom-primary:hover {
  color: var(--white);
}

.h-500 {
  height: 500px;
}

.btn-duration {
  padding-left: 10px;
  border: 1px solid var(--grey);
  background-color: var(--white);
  color: var(--secondary);
  width: 100%;
}

.btn-duration.active {
  border: 1px solid var(--blue);
  background-color: var(--white);
  color: var(--blue);
  outline: none;
  box-shadow: none;
}
.duration button {
  margin-right: 5px;
}

.duration button {
  margin-right: 5px;
}

.duration button:last-child {
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  opacity: 50%;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}

.circle {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(253, 187, 45, 0.671);
}

.line {
  width: 3px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--grey);
}

.line.active {
  height: 60px;
  background-color: var(--red);
}

.modal-close {
  filter: invert(6%) sepia(16%) saturate(3283%) hue-rotate(270deg)
    brightness(103%) contrast(115%);
  opacity: 30% !important;
  width: 20px !important;
}

.modal-close:hover {
  opacity: 80% !important;
}

.modal-overlay {
  position: fixed;
  z-index: 9;
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body-sm {
  background-color: #fefefe;
  margin: auto;
  border-radius: 10px;
  width: 500px;
  max-width: 100%;
}

.modal-body-md {
  background-color: #fefefe;
  margin: auto;
  border-radius: 10px;
  width: 800px;
  max-width: 100%;
}

.modal-body-lg {
  background-color: #fefefe;
  margin: auto;
  border-radius: 10px;
  width: 1000px;
  max-width: 100%;
}

.modal-content {
  height: fit-content;
  border: none;
  border-radius: 10px;
}

.modal-close {
  filter: invert(1%) sepia(83%) saturate(5934%) hue-rotate(305deg)
    brightness(81%) contrast(101%);
}

.lp-content {
  width: 1200px;
  max-width: calc(100vw - 30px);
  padding-bottom: 40px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.card-table {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
}

.table > :not(:first-child) {
  border: none;
}

.card-table table {
  border: unset;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: inherit;
  border-radius: 8px;
}

.card-table table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}
.card-table table thead {
  border-bottom: 1px solid #1f4163;
}

.card-table .table > :not(caption) > * > * {
  border-bottom: 1px solid #1f4163;
}
.card-table table thead tr {
  border: unset;
  padding: 0.35em;
  color: #ffffff;
  background-color: #0b2035;
}
.card-table table tbody tr {
  background-color: #112c47;
  border: unset;
  padding: 0.35em;
}

.card-table table tbody .topicclaim {
  border-right: 1px solid #1f4163;
}

.card-table table th,
.card-table table td {
  /* padding: .625em; */
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.card-table table th {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card-table .btn-custom {
  width: 110px;
  height: 30px;
  padding: 3px;
  border-radius: 6px;
}

.card-table table td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.h2-title span.text-green {
  color: #94d96b;
}
.btn-confirm-buy {
  height: 60px;
  width: auto;
  border-radius: 8px;
  display: inline-block;
  padding: 12px 20px;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  border: none;
  margin-left: auto;
  background-color: #fd4545;
  box-shadow: 0px 4px 0px 0px rgb(143, 27, 44, 1);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(143, 27, 44, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(143, 27, 44, 1);
  display: flex;
  align-items: center;
}

.btn-confirm-buy:hover {
  background-color: #ff5858;
}

.btn-confirm-buy:active {
  top: 2px;
  box-shadow: 0px 2px 0px 0px rgba(143, 27, 44, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(143, 27, 44, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(143, 27, 44, 1);
}

.btn-nav {
  height: 60px;
  width: 178px;
  border-radius: 8px;
  display: inline-block;
  padding: 12px 4px;
  text-align: center;
  font-size: 24px;
  color: #000;
  position: relative;
  text-transform: uppercase;
  border: none;
}

.btn-nav:hover {
  color: #000;
}

.btn-nav:active {
  top: 2px;
  color: #000;
}
.btn-nav-white {
  background-color: #e5e5e5;
  box-shadow: 0px 4px 0px 0px rgb(132 132 132);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(132 132 132);
  -moz-box-shadow: 0px 4px 0px 0px rgb(132 132 132);
}

.btn-nav-white:hover {
  background-color: #f8f8f8;
}

.btn-nav-white:active {
  box-shadow: 0px 4px 0px 0px rgb(132 132 132);
  -webkit-box-shadow: 0px 4px 0px 0px rgb(132 132 132);
  -moz-box-shadow: 0px 4px 0px 0px rgb(132 132 132);
}

.btn-nav-blue {
  background-color: #2fb8fe;
  box-shadow: 0px 4px 0px 0px rgba(33, 97, 255, 1);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(33, 97, 255, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(33, 97, 255, 1);
}

.btn-nav-blue:hover {
  background-color: #3cbeff;
}

.btn-nav-blue:active {
  box-shadow: 0px 2px 0px 0px rgba(33, 97, 255, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(33, 97, 255, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(33, 97, 255, 1);
}

.btn-nav-green {
  background-color: #50d500;
  box-shadow: 0px 4px 0px 0px rgba(3, 126, 80, 1);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(3, 126, 80, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(3, 126, 80, 1);
}

.btn-nav-green:hover {
  background-color: #65e715;
}

.btn-nav-green:active {
  box-shadow: 0px 2px 0px 0px rgba(3, 126, 80, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(3, 126, 80, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(3, 126, 80, 1);
}

.btn-nav-yellow {
  background-color: #ffdc30;
  box-shadow: 0px 4px 0px 0px rgba(234, 117, 1, 1);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(234, 117, 1, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(234, 117, 1, 1);
}

.btn-nav-yellow:hover {
  background-color: #ffdc30;
}

.btn-nav-yellow:active {
  box-shadow: 0px 2px 0px 0px rgba(234, 117, 1, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(234, 117, 1, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(234, 117, 1, 1);
}

.btn-connect-desc {
  display: block;
}

.btn-connect-desc .small {
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: left;
  line-height: 15px;
  color: #ea7501;
  top: 0px;
  position: relative;
}

.btn-connect-desc p {
  display: block;
  width: 100%;
  font-size: 22px;
  text-align: left;
  margin-bottom: 0px;
  line-height: 22px;
}

.text-tooltile {
  color: #000;
}
.text-tooldesc {
  color: #137ee0;
}

.choose-pack li.disable {
  opacity: 0.3;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .card-table {
    border-radius: 0px;
  }
  .card-table table {
    border-radius: 0px;
  }
  .card-table table tbody {
    margin-top: -24px;
    display: block;
  }
  .card-table table {
    border: 0;
  }

  .card-table table caption {
    font-size: 1.3em;
  }

  .card-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .card-table table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0px;
  }

  .card-table table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .card-table table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
  }

  .card-table table td.round::before {
    content: attr(data-label);
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    display: block;
  }

  .card-table table td.round {
    text-align: left;
    width: auto;
    float: left;
    border: 0px;
    height: 53px;
    padding: 15px;
    white-space: normal;
  }

  .card-table .table > :not(caption) > * > * {
    border-bottom: 0;
    border-top: 1px solid #1f4163;
  }

  .card-table table tbody .topicclaim {
    border: none;
    border: unset;
    padding: 0.35em;
    color: #00bfd0;
    background-color: #0b2035;
    font-size: 16px;
    font-weight: 600;
  }

  .card-table table tbody tr {
    padding: 0px;
  }

  .card-table .sm-w-100 {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1520px;
  }
}

@media (max-width: 1599.98px) {
  .card-privatesale {
    padding-top: 15px;
    padding-left: 150px;
    height: calc(100vh - 185px);
    min-height: 638px;
  }

  .pack-list {
    margin-top: 15px;
  }

  .choose-pack li .item-info {
    width: calc(100% - 230px);
    padding: 8px 8px 8px 100px;
    height: 43px;
    font-size: 15px;
    line-height: 28px;
  }
  .tooltip-box {
    left: 22px;
  }
  .logo-ps {
    position: absolute;
    width: 280px;
    height: 181px;
    top: -54px;
    right: -40px;
  }
  .char-guild {
    width: 293px;
    height: 649px;
    position: absolute;
    bottom: -37px;
    left: -85px;
  }

  .h2-title {
    font-size: 60px;
    margin-top: 15px;
  }

  .item-radio > input[type="radio"] + label::before,
  .item-radio > input[type="checkbox"] + label::before,
  .item-radio > input[type="radio"] + input[type="hidden"] + label::before,
  .item-radio > input[type="checkbox"] + input[type="hidden"] + label::before {
    width: 40px;
    height: 40px;
  }

  .item-radio > label,
  .item-radio > label {
    height: 44px;
    font-size: 22px;
  }
}

@media (max-width: 1199.98px) {

  .choose-pack li .item-info .item-info-totalSupply {
    left: 18px;
    bottom: 4px;
    padding: 0px 8px;
  }
  .choose-pack li .item-info {
    height: 60px;
    background-position: -38px 0px;
    background-size: auto 60px;
  }

  .choose-pack li .item-info .item-info-name {
    font-size: 16px;
    line-height: 18px;
    margin-top: 4px;
  }


  .choose-pack li .item-info .item-info-uint {
    font-size: 16px;
    line-height: 18px;
    margin-top: 4px;
  }

  .choose-pack li .item-info .item-info-desc {
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    margin-top: 4px;
  }

  .item-radio > label,
  .item-radio > label {
    height: 60px;
  }

  .card-privatesale {
    min-height: 698px;
  }
}

@media (max-width: 991.98px) {
  .choose-pack li .item-info .item-info-totalSupply {
    left: 18px;
    bottom: 4px;
    padding: 3px 14px;
    font-size: 12px;
    height: auto;
  }

  .tooltip-box {
    left: 0px;
    background: unset;
    width: calc(100% - 30px);
  }

  .text-tooltile {
    color: #fff;
  }

  .logo-ps {
    display: none;
  }
  .char-guild {
    width: 165px;
    height: 364px;
    position: fixed;
    left: -10px;
    bottom: 0px;
  }

  .card-privatesale {
    padding-left: 44px;
    min-height: 768px;
  }

  .choose-pack li .item-info {
    display: flex;
    flex-direction: column;
    padding: 4px 14px 4px 120px;
    height: 72px;
    background-position: -42px 0px;
    background-size: auto 72px;
  }

  .choose-pack li .item-info .item-info-desc {
    font-size: 14px;
    color: #ffffffd9;
    font-weight: 300;
  }
  .logo-app {
    position: absolute;
    height: 100px;
    left: 50%;
    top: 2px;
    margin-left: -78px;
  }
}
@media (max-width: 767.98px) {
  .h2-title {
    font-size: 40px;
    margin-top: 15px;
    -webkit-text-stroke: 2px #000000;
  }

  .card-privatesale {
    padding-left: 0px;
    height: auto;
    min-height: unset;
  }

  .tooltip-box {
    width: 100%;
    padding: 15px;
  }
  .choose-pack li {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
  }
  .choose-pack li .item-info {
    width: 100%;
  }
  .choose-pack {
    list-style-type: none;
    display: block;
    width: calc(100vw - 142px);
    max-width: 490px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: 0px;
  }

  .choose-pack li .item-info {
    position: relative;
    overflow: unset;
  }
  .choose-pack li .item-info .item-info-desc {
    position: absolute;
    top: 60px;
    left: 0px;
    color: #fff;
    padding: 0 15px;
  }

  .choose-pack li .item-info {
    height: 56px;
    background-size: auto 56px;
    background-position: -25px;
  }

  .choose-pack li .item-info .item-info-name {
    width: 100%;
    font-size: 18px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  .choose-pack li .item-info .item-info-uint {
    width: 100%;
    font-size: 18px;
    height: 42px;
    display: flex;
    align-items: center;
  }

  .item-radio {
    margin-top: 44px;
    margin-left: -13px;
  }

  .choose-pack li .item-info.confirm-order {
    padding: 0px;
  }

  .choose-pack li {
    background-color: #00000063;
    border-radius: 26px;
    margin-bottom: 20px;
  }

  .choose-pack li.cf-buy {
    background-color: unset;
  }
}

@media (max-width: 575.98px) {
  .char-guild {
    display: none;
  }

  .choose-pack {
    width: 100%;
    padding: 15px 15px;
    margin-bottom: 0px;
    max-width: 100%;
  }

  .btn-confirm-buy {
    width: 100%;
  }
}
